.deck {
  display: flex;
  gap: 5rem;
  &__deck-container {
    flex: 7;
    padding: 1rem;
  }
  &__card {
    background-color: $main-color;
    height: 25rem;
    max-width: 35rem;
    margin: 0 auto;
    position: relative;
  }
  &__card-counter {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  &__card-question {
    padding-top: 2rem;
    color: white;
    text-align: center;
  }
  &__card-answer {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.1rem;
    visibility: hidden;
  }

  &__button-response {
    padding: 1rem 0.25rem;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(252, 252, 252);
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 8rem;
  }
  &__arrow-prev {
    position: absolute;
    left: -45px;
    top: 50%;
    font-weight: bold;
  }
  &__arrow-next {
    position: absolute;
    right: -45px;
    top: 50%;
    font-weight: bold;
  }
}

.show {
  visibility: visible;
}

.disabled {
  visibility: hidden;
}
