.home {
  display: flex;
  gap: 5rem;

  &__cards-container {
    flex: 7;
    padding: 1rem;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
  }
  &__card {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    background-color: $secondary-color;
    font-weight: bold;
    text-align: center;
    color: white;
  }
}
